.left-nav {
  width: 200px;
  margin-right: 10px;
  background: rgba(254, 254, 254, 1);
  position: sticky;
  height: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border-top: 2px solid rgba(71, 176, 233, 1);
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.side-btn-lrg {
  height: 50px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.25s;
  color: #242e3b;
}

.side-btn-lrg:hover {
  background: rgba(27, 125, 225, 1);
  color:white;
}
