.app {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 3fr 1fr;
  grid-template-areas:
    "frame frame frame modeler"
    "canvas canvas canvas modeler"
    "commandline commandline commandline modeler";
  font-family: 'Arial'
}

.global-container {
  display: flex;
  margin-top: 20px;
  padding-top: 60px;
}

.editor-container {
  width: 80vw;

}


body {
  background: rgba(250, 250, 250, 1);
}


